[Unit]
Description=GitLab Runit supervision process
After=multi-user.target

[Service]
ExecStart=/opt/gitlab/embedded/bin/runsvdir-start
Restart=always
<% if @tasks_max %>
TasksMax=<%= @tasks_max %>
<% end %>

[Install]
WantedBy=multi-user.target
